### Skill issue  ###
.claude/

### Transpiled code ###
out/

### Executable ###
*.exe

### Comp file ###
dist/

### Mac ###
.DS_Store

### Test ###
test/unholyc
test/unholyc.dSYM
test2/unholyc.dSYM

### Python ###
__pycache__/
