#include <stdlib.h>
#include <string.h>

#include <uhcio.uhh>
#include <uhcmath.uhh>

#include "uhcgraphics.uhh"

static U32 CUBE_VERTEX_COUNT = 192;
static U32 CUBE_INDEX_COUNT = 36;

static F32 CUBE_VERTEX[192] = {
    // Front
    -1.0f, -1.0f,  1.0f,  1.0f, 0.0f, 0.0f,  0.0f, 1.0f,
     1.0f, -1.0f,  1.0f,  1.0f, 0.0f, 0.0f,  1.0f, 1.0f,
     1.0f,  1.0f,  1.0f,  1.0f, 0.0f, 0.0f,  1.0f, 0.0f,
    -1.0f,  1.0f,  1.0f,  1.0f, 0.0f, 0.0f,  0.0f, 0.0f,

    // Back
    -1.0f, -1.0f, -1.0f,  0.0f, 1.0f, 0.0f,  1.0f, 1.0f,
     1.0f, -1.0f, -1.0f,  0.0f, 1.0f, 0.0f,  0.0f, 1.0f,
     1.0f,  1.0f, -1.0f,  0.0f, 1.0f, 0.0f,  0.0f, 0.0f,
    -1.0f,  1.0f, -1.0f,  0.0f, 1.0f, 0.0f,  1.0f, 0.0f,

    // Left
    -1.0f, -1.0f, -1.0f,  0.0f, 0.0f, 1.0f,  0.0f, 1.0f,
    -1.0f, -1.0f,  1.0f,  0.0f, 0.0f, 1.0f,  1.0f, 1.0f,
    -1.0f,  1.0f,  1.0f,  0.0f, 0.0f, 1.0f,  1.0f, 0.0f,
    -1.0f,  1.0f, -1.0f,  0.0f, 0.0f, 1.0f,  0.0f, 0.0f,

    // Right
     1.0f, -1.0f, -1.0f,  1.0f, 1.0f, 0.0f,  1.0f, 1.0f,
     1.0f, -1.0f,  1.0f,  1.0f, 1.0f, 0.0f,  0.0f, 1.0f,
     1.0f,  1.0f,  1.0f,  1.0f, 1.0f, 0.0f,  0.0f, 0.0f,
     1.0f,  1.0f, -1.0f,  1.0f, 1.0f, 0.0f,  1.0f, 0.0f,

    // Top
    -1.0f,  1.0f,  1.0f,  0.0f, 1.0f, 1.0f,  0.0f, 1.0f,
     1.0f,  1.0f,  1.0f,  0.0f, 1.0f, 1.0f,  1.0f, 1.0f,
     1.0f,  1.0f, -1.0f,  0.0f, 1.0f, 1.0f,  1.0f, 0.0f,
    -1.0f,  1.0f, -1.0f,  0.0f, 1.0f, 1.0f,  0.0f, 0.0f,

    // Bottom
    -1.0f, -1.0f,  1.0f,  1.0f, 0.0f, 1.0f,  0.0f, 0.0f,
     1.0f, -1.0f,  1.0f,  1.0f, 0.0f, 1.0f,  1.0f, 0.0f,
     1.0f, -1.0f, -1.0f,  1.0f, 0.0f, 1.0f,  1.0f, 1.0f,
    -1.0f, -1.0f, -1.0f,  1.0f, 0.0f, 1.0f,  0.0f, 1.0f,
};

static U32 CUBE_INDEX[36] = {
    // Front
    0,  1,  2,   2,  3,  0,
    // Back
    5,  4,  7,   7,  6,  5,
    // Left
    8,  9,  10,  10, 11, 8,
    // Right
    13, 12, 15,  15, 14, 13,
    // Top
    16, 17, 18,  18, 19, 16,
    // Bottom
    20, 23, 22,  22, 21, 20,
};

I32 main() {
    UgWindow.It window = UgWindow.create("Unholy Graphics");
    UgContext.It ctx = UgContext.create(window, 1);
    UgRenderer.It renderer = UgRenderer.create(ctx);
    UgCommandBuffer.It cmd = UgCommandBuffer.create(ctx);
    UgFence.It fence = UgFence.create(ctx);

    // Cube
    UgBuffer.It vertexBuffer = UgBuffer.create(ctx, sizeof(CUBE_VERTEX[0]) * CUBE_VERTEX_COUNT, VK_BUFFER_USAGE_VERTEX_BUFFER_BIT);
    UgBuffer.It indexBuffer = UgBuffer.create(ctx, sizeof(CUBE_INDEX[0]) * CUBE_INDEX_COUNT, VK_BUFFER_USAGE_INDEX_BUFFER_BIT);
    UgShaderProgram.It shaderProgram = UgShaderProgram.create(ctx, "./shader/cubeVert.spv", "./shader/cubeFrag.spv");

    UgBuffer.upload(ctx, vertexBuffer, CUBE_VERTEX, sizeof(CUBE_VERTEX[0]) * CUBE_VERTEX_COUNT);
    UgBuffer.upload(ctx, indexBuffer, CUBE_INDEX, sizeof(CUBE_INDEX[0]) * CUBE_INDEX_COUNT);

    UgVertexAttrib.It attrs[3] = {
        { 0, VK_FORMAT_R32G32B32_SFLOAT, 0  },
        { 1, VK_FORMAT_R32G32B32_SFLOAT, 12 },
        { 2, VK_FORMAT_R32G32_SFLOAT,    24 },
    };
    UgVertexDesc.It desc = { 32, attrs, 3 };

    UgUniformBuffer.It ubo = UgUniformBuffer.create(ctx, 0, 192);
    UgTexture.It texture = UgTexture.create(ctx, "./texture.png");
    UgVertexArray.It vao = UgVertexArray.create(ctx, renderer, desc, ubo, &texture, shaderProgram);
    // End Cube

    Matrix.It model;
    Matrix.It view;
    Matrix.It projection;

    Matrix.setIdentity(model);
    Matrix.setIdentity(view);
    Matrix.setIdentity(projection);

    VkExtent2D ext = UgSwapchain.extend(ctx, renderer.swapchain);
    Matrix.projection(projection, ext.width, ext.height, 90, 0.1, 1000);
    Matrix.translate(model, 0, 0, -5, 0);
    Matrix.rotate(model, Math.rad(54), 1, 0, 0);
    Matrix.rotate(model, Math.rad(54), 0, 1, 0);


    while (UgWindow.isOpen(window)) {
        UgWindow.update();
        
        if (UgWindow.isMinimized(window)) continue;

        UgFence.wait(ctx, fence);
        VkResult acquireResult = UgRenderer.aquire(ctx, renderer);
        if (acquireResult == VK_ERROR_OUT_OF_DATE_KHR) {
            UgRenderer.update(ctx, renderer);
            VkExtent2D ext = UgSwapchain.extend(ctx, renderer.swapchain);
            Matrix.projection(projection, ext.width, ext.height, 90, 0.1, 1000);
            continue;
        }
        
        UgFence.reset(ctx, fence);

        UgCommandBuffer.begin(cmd);
        UgRenderer.begin(renderer, cmd);
        UgRenderer.setViewport(ctx, renderer, cmd);

        UgVertexArray.bind(vao, cmd);
        UgTexture.bind(texture, cmd, vao.layout);
        
        UgUniformBuffer.reset(ubo);
        UgUniformBuffer.setMat(ubo, model);
        UgUniformBuffer.setMat(ubo, view);
        UgUniformBuffer.setMat(ubo, projection);

        VkBuffer vertexBuffers[] = { vertexBuffer.handle };
        VkDeviceSize offsets[] = { 0 };

        vkCmdBindVertexBuffers(cmd.handle, 0, 1, vertexBuffers, offsets);
        vkCmdBindIndexBuffer(cmd.handle, indexBuffer.handle, 0, VK_INDEX_TYPE_UINT32);
        vkCmdDrawIndexed(cmd.handle, CUBE_INDEX_COUNT, 1, 0, 0, 0);

        UgRenderer.end(cmd);
        UgCommandBuffer.end(cmd);

        UgRenderer.submit(ctx, renderer, cmd, fence);
        VkResult presentResult = UgRenderer.present(ctx, renderer);
        if (presentResult == VK_ERROR_OUT_OF_DATE_KHR || presentResult == VK_SUBOPTIMAL_KHR) {
            UgRenderer.update(ctx, renderer);
            VkExtent2D ext = UgSwapchain.extend(ctx, renderer.swapchain);
            Matrix.projection(projection, ext.width, ext.height, 90, 0.1, 1000);
        }
    }
    vkDeviceWaitIdle(ctx.device.handle);

    // Cube
    UgBuffer.destroy(ctx, vertexBuffer);
    UgBuffer.destroy(ctx, indexBuffer);
    UgShaderProgram.destroy(ctx, shaderProgram);
    UgUniformBuffer.destroy(ctx, ubo);
    UgTexture.destroy(ctx, texture);
    UgVertexArray.destroy(ctx, vao);
    // End Cube
    
    UgFence.destroy(ctx, fence);
    UgCommandBuffer.destroy(ctx, cmd);
    UgRenderer.destroy(ctx, renderer);
    UgContext.destroy(ctx);
    UgWindow.destroy(window);

    return 0;
}
